body {
    background-color: #eeeeee !important;
}

#container {
    margin: 50px auto;
    width: 800px;
    height: 470px;
    background: #666666;
    position: relative;
}

#timeline {
    position: absolute;
    bottom: 40px;
    height: 5px;
    box-sizing: content-box;
    border: 10px solid transparent;
    right: 10px;
    left: 10px;
    background: #dddddd;
    cursor: pointer;
    background-clip: content-box;
}

#preview {
    width: 220px;
    height: 120px;
    bottom: 67px;
    left: 0;
    position: absolute;
    background: rgb(30, 30, 30);
    opacity: 0;
    overflow: hidden;
    padding: 10px;
    --gradient-max: rgba(30, 30, 30, 0.7);
    --gradient-min: rgba(100, 183, 255, 0);
}

#preview:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 1;
    background: linear-gradient(0deg, var(--gradient-max) 0%, var(--gradient-min) 50%, var(--gradient-max) 100%);
}

.word {
    position: absolute;
    color: #ffffff;
    text-align: center;
    top: 36%;
    padding: 10px;
    font-size: 12px;
    transition: transform, opacity .2s linear;
}